.chatroom {
  background-color: rgba(0,0,0, .7);
  box-shadow: 0 0 8px 0 rgba(0,0,0, 0.3);
}

.chatTitle {
  font-family: 'Pacifico', cursive;
  background: #ffa109;
  color: #FFF;
  height: 40px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chats {
  padding: 0 20px;
  margin: 10px 0 0;
  height: 572px;
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;
}

.chat {
  background: rgba(255, 255, 255, 0.8);
  position: relative;
  padding: 5px 13px;
  font-size: 14px;
  border-radius: 10px;
  float: left;
  clear: both;
  margin: 10px 0;
  word-wrap: break-word;
}

.inputForm {
  height: 40px;
  background-color: #333333;
  display: flex;
  align-items: center;
  padding: 1em;
}

.inputForm input[type="text"] {
  background: rgba(255, 255, 255, 0.5);
  outline: 0;
  border: 2px solid #ffa109;
  padding: 0 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  height: 30px;
  font-size: 14px;
  width: 100%;
}

.inputForm input[type="submit"] {
  background: transparent;
  border: 1px solid #ffa109;
  height: 30px;
  font-size: 14px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.inputForm input[type="submit"]:hover {
  background: #ffa109;
  color: #FFF;
}

.submitButton {
  color: white;
}
