.credentials {
  height: 3em;
  margin-bottom: 1em;
}

.login {
  margin-right: 1em;
  font-size: 16px;
  font-family: 'Pacifico', Sans, Lato, Droid Sans;
  color: rgba(0,0,0, .7);
}

.signUp, .logout {
  font-size: 16px;
  font-family: 'Pacifico', Sans, Lato, Droid Sans;
  color: rgba(0,0,0, .7);
}

.login:hover, .signUp:hover, .credentialIcon:hover, .logout:hover {
  cursor: pointer;
  color: #2c66b2;
  transition: all 0.2s ease-in-out 0s;
  opacity: .5;
}

.credentialIcon {
  margin-right: 1em;
  margin-top: .2em;
  opacity: .5;
  font-size: 16px;
}

.credentialGravatar {
  border-radius: 50%;
  width: 3em;
  margin-right: 1em;
}
