.gameInfo {
  margin-top: 6rem;
}

.gameInfoBackground {
  box-shadow: 5px 10px 20px rgba(0,0,0,.6);
  background: #29323f;
  margin-bottom: 3rem;
}

.moveLogTitle {
  font-family: 'Pacifico', Sans, Lato, Droid Sans;
  color: #fcee6d;
  height: 3em;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
