.gameOverModal {
  background-color: white;
  animation-name: slideDown;
  -webkit-animation-name: slideDown;
  animation-duration: .5s;
  -webkit-animation-duration: .5s;
  animation-timing-function: ease;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding-bottom: 3em;
}

.gameOverModalTop {
  height: 3em;
  background: #ffa109;
  width: 100%;
  margin-top: 2em;
}

.outcomeText {
  font-family: 'Pacifico', Sans, Lato, Droid Sans;
  font-size: 20px;
  margin-top: 1em;
}

.gameOverButton {
  margin-top: 1em;
  padding-top: .1em;
  font-size: 16px;
  height: 30px;
  border: 1px solid #2c66b2;
  color: #2c66b2;
  font-family: 'Pacifico', Sans, Lato, Droid Sans;
  width: 100%;
}

.gameOverButton:hover {
  cursor: pointer;
}
