.miniPiece {
  margin-top: 15%;
  font-size: 1.3em;
  vertical-align: middle;
}

.black {
  background-color: #8b4513;
}

.white {
  background-color: #cd853f;
}

.miniSquare {
  width: 2.3em;
  height: 2.3em;
}
