.moveLog {
  margin-top: 1em;
  background: #29323f;
  margin-left: 5%;
  margin-right: 5%;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 30rem;
  color: white;
}

.moveColumn {
  font-size: 16px;
  padding: .5rem;
}

.move {
  font-size: 16px;
  margin: .5rem;
}

.move:hover {
  cursor: pointer;
  border-bottom: 3px solid #fcee6d;
}

.selectedMove {
  border-bottom: 3px solid #fcee6d;
  color: #fcee6d;
  transition: ease-in .5s;
}

@keyframes scale {
	from { transform: scale(.5); }
	to { transform: scale(1); }
}
