
.moveLogTitle {
  color: #fcee6d;
  height: 3em;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.moveLog {
  margin-left: 5%;
  margin-right: 5%;
  color: #a6a9b3;
  background: #29323f;
  margin-bottom: 1rem;
  height: 90%;
}

.moves {
  overflow-y: scroll;
  height: 80%;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #29323f;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a6a9b3;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a6a9b3;
}

.moveColumn {
  font-size: 20px;
  padding: .5rem;
}

.move {
  font-size: 20px;
  margin: .5rem;
  text-align: left;
  color: #a6a9b3;
}

.move:hover {
  cursor: pointer;
  border-bottom: 3px solid #fcee6d;
}

.selectedMove {
  border-bottom: 3px solid #fcee6d;
  color: #fcee6d;
}

@keyframes scale {
	from { transform: scale(.5); }
	to { transform: scale(1); }
}
