.playerInfo {
  height: 10rem;
  background: #29323f;
  margin-bottom: 3rem;
  border-radius: 4px;
  box-shadow: 5px 10px 20px rgba(0,0,0,.6);
}

.playerGravatar {
  margin-top: 1.5rem;
  border-radius: 50%;
  width: 7em;
  height: 7em;
  box-shadow: 5px 10px 20px rgba(0,0,0,.6);
  border: 2px solid white;
}

.playerName {
  margin-top: 1rem;
  font-size: 16px;
  color: white;
}
