.promotePawnModal {
  background-color: white;
  animation-name: slideDown;
  -webkit-animation-name: slideDown;
  animation-duration: .5s;
  -webkit-animation-duration: .5s;
  animation-timing-function: ease;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

  display: flex;
  align-items: center;
  justify-content: center;
  height: 15em;
  background: #2c66b2;
}

.promotePawn {
  margin-top: 25%;
  margin-bottom: 25%;
  font-size: 4vw;
  vertical-align: middle;
  padding-left: .3em;
  padding-right: .3em;
}

.promotePawn:hover {
  cursor: pointer;
  opacity: .7;
}
