.black {
  background-color: #8b4513;
}

.white {
  background-color: #cd853f;
}

.square {
  width: 7.5%;
  padding-top: 7.5%;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}
