.thumbnailCard {
  margin-bottom: 3em;
}

.thumbNailBoard {
  padding: 2em;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background: FFF;
}

.enterGameButton {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.statusTitle {
  font-family: 'Pacifico', Sans, Lato, Droid Sans;
  color: rgba(0,0,0, .7);
}

.enterGameButton {
  margin: 1em;
  height: 30px;
  border: 1px solid #2c66b2;
  color: #2c66b2;
  font-family: 'Pacifico', Sans, Lato, Droid Sans;
  font-size: 16px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.enterGameButton:hover {
  background: #2c66b2;
  color: white;
  transition: all 0.2s ease-in-out 0s;
  cursor: pointer;
}

.playerVsPlayer {
  margin-bottom: 1.5em;
}

.thumbnailGravatar {
  padding: 1em;
  border-radius: 50%;
  width: 5em;
}
